 <div class="page-container">
  <div class="card" style="padding:20px;padding-top: 40px;">
    <div class="card-heading">
      <h4 class="card-title" style="font-size:18px">
       <a routerLink="/users" style="margin-right: 13px;">Users</a>
       <a routerLink="/projects">Projects</a>
        <button type="button" class="btn btn-primary" (click)="logout()" style="float: right;">Logout</button>
      </h4>

    </div>
    <div class="card-body">
     <h1>Welcome ! {{user}}</h1>
    </div>
  </div>
</div>
