<header *ngIf="isLogin" class="navbar navbar-inner navbar-fixed-top">
  <nav class="container">
    <div class="navbar-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item"><a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/projects">Projects</a></li>
          <li class="breadcrumb-item"><a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/users">Users</a></li>
          <li class="breadcrumb-item"><a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/users/roles">Roles</a></li>
          <li class="breadcrumb-item"><a routerLink="/{{commonFunctions.getAccessCodePrefix()}}/users/permissions">Permissions</a></li>
        </ol>
      </nav>
    </div>
  </nav>
</header>

<main class="container" style="margin-top:50px;">
  <router-outlet></router-outlet>
</main>
